  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <%= form_with model: @user do |user| %>
          <label for="user_name">Name</label>
          <%= user.text_field %>
          <label for="user_image">Image</label>
      </div>
    </div>
  </div>